{% extends 'main.html' %}
{% block title %}All Chefs{% endblock %}
{% block content %}
    <!-- Add Chef Modal -->
    <div class="modal fade" id="addChefModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <a class="navbar-brand text-center fs-2 mt-3" style="font-family: 'Oleo Script Swash Caps', cursive;"
                   href="/"><i class="fa-solid fa-cookie-bite"></i> HomeChef</a>
                <div class="modal-header border-0 mx-auto m-0 p-0">
                    <h5 class="modal-title" id="exampleModalLabel">Add new chef</h5>
                </div>
                <div class="p-3">
                    <form action="{% url 'add_chef' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="username">Chef's Username</label>
                            <input type="text" name="username" class="form-control shadow-none border border-2"
                                   placeholder="Username" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="email">Chef's Email</label>
                            <input type="email" name="email" class="form-control shadow-none border border-2"
                                   placeholder="Email" required
                                   pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$">
                        </div>
                        <div class="form-group mb-3">
                            <label for="restaurant">Restaurant</label>
                            <input type="text" name="restaurant" class="form-control shadow-none border border-2"
                                   placeholder="Restaurant Name" id="restaurant"></div>
                        <div class="form-group mb-3">
                            <label for="cover">Profile Picture</label>
                            <input type="file" name="cover" class="form-control shadow-none border border-2"
                                   id="cover"></div>
                        <div class="d-flex justify-content-between align-items-center gap-3">
                            <div class="form-group mb-3">
                                <label for="password">Password</label>
                                <input type="password" name="password" class="form-control shadow-none border border-2"
                                       placeholder="Password" minlength="8" required>
                            </div>

                            <div class="form-group mb-3">
                                <label for="confirm_password">Confirm Password</label>
                                <input type="password" name="confirm_password"
                                       class="form-control shadow-none border border-2"
                                       placeholder="Confirm Password" minlength="8" required>
                            </div>

                        </div>
                        <div class="w-100 text-end">
                            <input type="button"
                                   class="btn btn-white btn-sm shadow-none  border border-dark border-2 me-2"
                                   data-bs-dismiss="modal" aria-label="Close" value="Discard"/>
                            <input type="submit" value="Register" class="btn btn-dark border-2 btn-sm shadow-none">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Update Chef Modal -->
    <div class="modal fade" id="updateChefModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <a class="navbar-brand text-center fs-2 mt-3" style="font-family: 'Oleo Script Swash Caps', cursive;"
                   href="/"><i class="fa-solid fa-cookie-bite"></i> HomeChef</a>
                <div class="modal-header border-0 mx-auto m-0 p-0">
                    <h5 class="modal-title" id="exampleModalLabel">Update Chef</h5>
                </div>
                <div class="p-3">
                    <form action="" method="post" enctype="multipart/form-data" id="update_chef">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="username">Chef's Username</label>
                            <input type="text" name="username" id="username"
                                   class="form-control shadow-none border border-2"
                                   placeholder="Username" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="email">Chef's Email</label>
                            <input type="email" name="email" id="email" class="form-control shadow-none border border-2"
                                   placeholder="Email" required
                                   pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$">
                        </div>
                        <div class="form-group mb-3">
                            <label for="restaurant">Restaurant</label>
                            <input type="text" name="restaurant" class="form-control shadow-none border border-2"
                                   placeholder="Restaurant Name" id="restaurant"></div>
                        <div class="form-group mb-3">
                            <label for="cover">Profile Photo</label>
                            <input type="file" name="cover" class="form-control shadow-none border border-2"
                                   id="cover"></div>
                        <div class="w-100 text-end">
                            <input type="button" class="btn btn-white btn-sm shadow-0 border border-dark border-2"
                                   data-bs-dismiss="modal" aria-label="Close" value="Discard"/>
                            <input type="submit" value="Update Chef" class="btn btn-dark border-2 btn-sm shadow-none">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Chef Modal -->
    <div class="modal fade" id="deleteChefModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <a class="navbar-brand text-center fs-2 my-3" style="font-family: 'Oleo Script Swash Caps', cursive;"
                   href="/"><i class="fa-solid fa-cookie-bite"></i> HomeChef</a>
                <br>
                <i class="fa-solid fa-xmark text-danger mt-3 fa-2xl"></i>
                <div class="modal-header border-0 mx-auto m-0 p-0">
                    <h5 class="modal-title text-danger" id="exampleModalLabel">Confirm delete this chef?</h5>
                </div>
                <div class="p-3 w-100 text-end">
                    <button class="btn btn-white btn-sm shadow-0 border border-dark border-2"
                            data-bs-dismiss="modal" aria-label="Close">Discard
                    </button>
                    <a href="" id="delete_chef"
                       class="btn btn-danger border-2 border-danger btn-sm shadow-none">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="d-flex align-items-center justify-content-between mb-3">
            <h6>All Chefs</h6>
            <button class="btn btn-sm btn-dark shadow-none border-0" data-bs-toggle="modal"
                    data-bs-target="#addChefModal">Add New
            </button>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Restaurant</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for chef in chefs %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ chef.user.username }}</td>
                    <td>{% if chef.user.email %}
                        {{ chef.user.email }}
                    {% else %}
                        <td>Not Added Yet</td>
                    {% endif %}
                    </td>
                    <td>{{ chef.restaurant }}</td>
                    <td>
                        <button class="btn btn-sm btn-white border-2 border-dark shadow-none"
                                data-chef-id="{{ chef.user.id }}"
                                data-chef-username="{{ chef.user.username }}"
                                data-chef-email="{{ chef.user.email }}"
                                data-chef-restaurant="{{ chef.restaurant }}"
                                data-bs-toggle="modal"
                                data-bs-target="#updateChefModal"
                        ><i class="fa-solid fa-pencil"></i></button>
                        <button class="btn btn-sm btn-dark border-2 border-dark shadow-none" data-bs-toggle="modal"
                                data-bs-target="#deleteChefModal"
                                data-chef-id="{{ chef.id }}">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block js %}
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
            integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script>
        $("#updateChefModal").on("show.bs.modal", function (event) {
            const button = $(event.relatedTarget); // Button that triggered the modal
            const id = button.data("chef-id"); // Extract info from data-* attributes
            const username = button.data("chef-username");
            const email = button.data("chef-email");
            const restaurant = button.data("chef-restaurant")
            const modal = $(this);
            modal.find("#username").attr("value", username);
            modal.find("#email").attr("value", email);
            modal.find("#restaurant").attr("value", restaurant);
            modal.find("#update_chef").attr("action", "/update-chef/?chef_id=" + id);
        });
    </script>
    <script>
        $("#deleteChefModal").on("show.bs.modal", function (event) {
            const button = $(event.relatedTarget); // Button that triggered the modal
            const id = button.data("chef-id");
            const modal = $(this);
            modal.find("#delete_chef").attr("href", "/delete-chef/?chef_id=" + id)
        })
    </script>
{% endblock %}